docutils==0.13.1
Fiona==1.7.1
GDAL==2.1.2
GDAL==2.1.2
geopy==1.11.0
matplotlib==2.0.0
mock==2.0.0
numpy==1.12.1
GDAL==2.1.2
pandas==0.19.2
PCSE==5.2.5
rasterio==1.0a3
setuptools==29.0.1.post20161201
scikit_image==0.11.3
Sphinx==1.5.3
statsmodels==0.6.1
tqdm==4.8.4
tsgettoolbox==7.13.5.8
xarray==0.9.1
yagmail==0.4.129
Pillow==4.0.0
chardet==2.3.0
netCDF4==1.2.7
pyshp==1.2.10
